<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> 微企 微信平台用户登录</title><script type="text/javascript">var yyuc_jspath = "/@system/";</script><script type="text/javascript" src="/@system/js/jquery.js"></script><script type="text/javascript" src="/@system/js/yyucadapter.js"></script><script type="text/javascript">var yyuc_jspath = "/@system/";</script><script type="text/javascript" src="/@system/js/jquery.js"></script><script type="text/javascript" src="/@system/js/yyucadapter.js"></script>
	<meta name="keywords" content="微企、微信营销、微信代运营、微信托管、微网站、微商城、微营销、微信定制开发">
	<meta name="description" content="微企,国内最大的微信公众智能服务平台,管家十大微体系:微菜单、微官网、微会员、微活动、微商城、微推送、微服务、微统计、微支付、微客服,企业微营销必备。">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="/static/wxgjcn/weiqi/lnr.css">
</head>
<body>
	<div class="g logoBox">
		<div class="logo l"><a href="/"><img src="/static/wxgjcn/weiqi/logo.png"" alt="微企LOGO" width="600" height="80"></a></div>
	</div>
	<div class="g focusBox">
		<div class="focus">
			<img src="/static/wxgjcn/weiqi/focus.png" alt="功能">
		</div>
		<div class="loginBox png24">
				<h1><span class="r">没账号？<a href="/reg.html">立即注册</a></span>请登录</h1>
					
			<form action="/" method="post">
				<ul>
					<li>
					<input type="text"   value="" name="fT08d9e827ffbba2efe4413cb064bbf847un" id="fun" tabindex="1" class="ipt tipinput1" placeholder="请输入您的账号" autocomplete="off" maxlength="100" suggestwidth="340px"/>					</li>
					<li class="l2">
					<input type="password"   value="" name="fT08d9e827ffbba2efe4413cb064bbf847pwd" id="fpwd" tabindex="2" class="ipt tipinput1" placeholder="请输入您的密码" maxlength="20" autocomplete="off"/>					</li>
					<li class="l3"><span class="l"><input id="hold" type="checkbox" checked="" value="1" name="remme" style="outline:none;vertical-align:middle">&nbsp;自动登录</span><span class="r"><a href="/findpwd.html">忘记密码？</a></span></li>
					<li class="l4"><input type="submit" tabindex="4" id="btn-login" value=""></li>
					<li class="l5">联系我们客服QQ</li>
					<li class="l6"><a href="http://wpa.qq.com/msgrd?v=3&uin=2943747028&site=qq&menu=yes" class="l"><img src="/static/wxgjcn/weiqi/bt_blue.png" style="vertical-align:top;width:140px;height:40px;"></a></li>
				</ul>
			</form>
		</div>
	</div>
	<div class="g cpr hc">
			Copyright©2012-2014 微企  All Rights Reserved.
		</div>
	
</body>
</html>